/* load calcite variables as overrides */
@import 'calcite-bootstrap';
/* set the output folder for fonts */
$icon-font-path: './fonts/';
@import 'bootstrap';

/* app layout */
html, body, #app, .map-container {
  width: 100%;
  height: 100%;
  margin: 0;
  display: block;
}

.esri-basemap-toggle {
  position: absolute;
  bottom: 45px;
  left: 15px;
  z-index: 50;
}

/* override vendor styles */
/* fix for bug when showing dark gray basemap title */
.esri-basemap-toggle {
  .esri-basemap-title {
    width: 100%
  }
}

/* components */
@import './SidePanel';
