<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <span class="glyphicon glyphicon-chevron-up"></span>
      <a role="button" data-toggle="collapse" data-dojo-attach-point="titleNode" data-target=".info-panel" aria-expanded="false" aria-controls="collapseOne"></a>
    </h4>
  </div>
  <div class="panel-collapse collapse in info-panel" role="tabpanel">
    <div class="panel-body">
      <h4>${nls.About}</h4>
      <p>${nls.sidePanelMessage}</p>
    </div>
  </div>
</div>
